<% layout('layout/boilerplate') %>
    <div class="row mb-3">
        <h1 class="text-center">Edit Court</h1>
        <div class="col-6 offset-3">
            <form action="/courts/<%= court._id %>?_method=PUT" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control" id="title" name="court[title]" value="<%= court.title %>"required>
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" class="form-control" id="location" name="court[location]" value="<%= court.location %>"required>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Add Images</label>
                    <input type="file" name="image" id="image" multiple>
                </div>
    
                <div class="mb-3">
                <label for="price" class="form-label">Price</label>
                    <div class="input-group">
                        <span class="input-group-text">$</span>
                        <input type="text" class="form-control" id="price-label" placeholder="0" name="court[price]" value="<%= court.price %>"required>
                        <span class="input-group-text">.00</span>
                    </div>
                </div>
    
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea type="text" class="form-control" id="description" name="court[description]" required><%= court.description %></textarea>
                </div>

                <div class="mb-3">
                    <% court.images.forEach(function(img, i) {  %>
                        <img src="<%=img.url %>" class="img-thumbnail" alt="">
                        <div class="form-check-reversed">
                            <input type="checkbox" id="image-<%=i%>" name="deleteImages[]" value="<%=img.filename%>">
                            <label for="image-<%=i%>">Delete?</label>
                        </div>
                        <% })%>
                    </div>
                <div>
                    <button class="btn btn-primary mb-3">Update Court</button>
                </div>
               
                <a href="/courts/<%= court._id %>">Back to Courts</a>
            </form>
            